:root {
    --p1: aqua; /*blue*/
    --p2: #5D6D7E; /*grey*/
    --p3: #FDFEFE; /*white*/
    --p4: #17202A; /*black*/
    --p5: #F4D03F; /*yellow*/
    --link-active: rgb(72, 255, 0);
    /*--link-hover: rgb(0, 132, 255);*/
}
* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(var(--p1), var(--p2), var(--p1));
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-bottom: 0px;
}
header h1 {
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    color: var(--p4);
    margin-bottom: 0px;
    padding-bottom: 0px;
}
header h2 {
    font-size: 20px;
    margin-top: 0px;
    color: var(--p4);

}
header p {
    display: flex;
    display: inline-block;
    padding: 20px;
    font-size: 24px;
    padding-top: 0px;
    margin-top: 0px;
    font-style: none;
    color: var(--p3);
}

a:hover {
    cursor: grab;
    color: var(--p1);
    background-color: var(--p2);
}
a:active {
    color: var(--link-active);
}

#about {
   display: flex;
    padding: 50px;
        
}

#about p {
    width: 70%;
   padding-left: 50px;
    padding-top: 10px;
}
p span {
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
}

#about img {
    height: 300px;
    width: 300px;
    border-radius: 30px;
    box-shadow: 10px -10px var(--p2);
    z-index: 1;
    flex-shrink: 0;
    
}
#projects {
    width: 80%;
    margin: 0px;
    padding: 0px;
}

#projects h3 {
    color: var(--p1);
    font-size: 26px;
    margin: 0px;
    margin-bottom: 20px;
    
}

.refactor {
    display: flex;
    display: inline-block;
    position: relative;
    width: 90%;
    border-style: solid;
    border-width: 5px;
    border-color: var(--p1);
    margin: 0px;
    padding: 0px;
    
}
.refactor img {
    width: 100%;
    height: 800px;
}
.colab img {
    width: 100%;
    margin-top: 0px;

}
.placeholder img {
    width: 100%;
}
.refactor p {
    position: absolute;
    top: 0px;
    right: 0px;
    border-style: solid;
    border-color: var(--p1);
    border-width: 5px;
    color: var(--p5);
    background-color: var(--p2);
    z-index: 2;
    font-size: 30px;
    margin-top: 0px;
}
.colab {
    display: flex;
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    margin-top: -10px;
    
}
.colab p {
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-style: solid;
    border-color: var(--p1);
    border-width: 5px;
    color: var(--p5);
    background-color: var(--p2);
    z-index: 2;
    font-size: 25px;
    margin-bottom: 0px;
}
.placeholder {
    display: flex;
    display: inline-block;
    position: relative;
    width: 40%;
}
.placeholder p {
    position: absolute;
    top: 0px;
    right: 0px;
    border-style: solid;
    border-color: var(--p1);
    border-width: 5px;
    color: var(--p5);
    background-color: var(--p2);
    z-index: 2;
    font-size: 25px;
    margin-top: 0px;
}
#projects img {
    /*height: 400px;
    /*width: 400px;*/
    border-style: solid;
    border-width: 5px;
    border-color: var(--p1);
}
footer {
   
}
@media screen and (max-width: 600px) {
    #about {
        display: block;
    }

}