:root {
    --p1: #3498DB; /*blue*/
    --p2: #5D6D7E; /*grey*/
    --p3: #FDFEFE; /*white*/
    --p4: #17202A; /*black*/
    --p5: #F4D03F; /*yellow*/
    --link-active: #3FF4F4;
    --link-hover: #48F43F;
}
* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    background-color: var(--p2);
    margin-bottom: 0px;
}
header h1 {
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    color: var(--p3);
    margin-bottom: 0px;
    padding-bottom: 0px;
}
header h2 {
    font-size: 20px;
    margin-top: 0px;
    color: #3FDEF4;

}
header p {
    display: flex;
    display: inline-block;
    padding: 20px;
    font-size: 24px;
    padding-top: 0px;
    margin-top: 0px;
    font-style: none;
    color: var(--p3);
}
a:link {
    font-style: normal;
    
    color: red;
}
a:hover {
    cursor: grab;
    color: var(--link-hover);
}
a:active {
    color: var(--link-active);
}


#about img {
    height: 400px;
    width: 400px;
}
#projects img {
    height: 400px;
    width: 400px;
}