:root {
    --p1: aqua; /*blue*/
    --p2: #5D6D7E; /*grey*/
    --p3: #FDFEFE; /*white*/
    --p4: #17202A; /*black*/
    --p5: #F4D03F; /*yellow*/
    --link-active: rgb(72, 255, 0);
    --link-hover: rgb(0, 132, 255);
}
* {
    box-sizing: border-box;
   /* border-style: dotted; */
}
body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(var(--p1), var(--p2), var(--p1));
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    /*background-color: var(--p2);*/
    margin-bottom: 0px;
}
header h1 {
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    color: var(--p4);
    margin-bottom: 0px;
    padding-bottom: 0px;
}
header h2 {
    font-size: 20px;
    margin-top: 0px;
    color: #3FDEF4;

}
header p {
    display: flex;
    display: inline-block;
    padding: 20px;
    font-size: 24px;
    padding-top: 0px;
    margin-top: 0px;
    font-style: none;
    color: var(--p3);
}
/*
a:link {
    font-style: normal;
    
    color: red;
}*/

a:hover {
    cursor: grab;
    color: var(--p1);
    background-color: var(--p2);
}
a:active {
    color: var(--link-active);
}
#about {
   display: flex;
    padding: 50px;
    /*background-color: var(--p1);*/
}

#about p {
    width: 70%;
   flex-direction: ;
   padding-left: 50px;
    padding-top: 10px;
}
p span {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

#about img {
    height: 300px;
    width: 300px;
    border-radius: 30px;
    box-shadow: 20px -10px var(--p2);
    z-index: 1;
    flex-shrink: 0;
    
}
#projects img {
    height: 400px;
    width: 400px;
}
footer {
   /* background-color: var(--p2);*/
}
@media screen and (max-width: 600px) {
    #about {
        display: block;
    }

}